{% extends 'base.html.twig' %}

{% block title %}{{ 'title.edit_author'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2 login mt-4 mb-4 p-4">
            <h1 class="mt-2 mb-4">{{ 'title.edit_author'|trans }}</h1>

            {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('author_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.return'|trans }}</a>

            <a href="{{ path('author_delete', {'id': author.id}) }}" class="btn btn-block btn-danger mb-4 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.delete'|trans }}</a>



        </div>
    </div>


{% endblock %}