{% extends 'base.html.twig' %}

{% block title %}{{ 'author.author'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'author.author'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'all.id'|trans }}</th>
            <td>{{ author.id }}</td>
        </tr>
        <tr>
            <th>{{ 'author.author'|trans }}</th>
            <td>{{ author.name }}</td>
        </tr>
        <tr>
            <th>{{ 'author.sex'|trans }}</th>
            <td>{{ author.sex }}</td>
        </tr>
        <tr>
            <th>{{ 'author.date'|trans }}</th>
            <td>{{ author.birthDate ? author.birthDate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'author.country'|trans }}</th>
            <td>{{ author.countryOfOrigin }}</td>
        </tr>

        <tr>
            <th>{{ 'author.books'|trans }}</th>
            <td>
                {% for book in author.books %}
                    <a href="{{ path('book_show', {'id':book.id}) }}" class="badge bg-secondary">{{ book.title }}</a>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('author_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('author_edit', {'id': author.id}) }}" class="btn btn-secondary mt-3 mb-3 btn-sm"> <i class="fas fa-edit"></i> {{ 'action.edit'|trans }}</a>

        <a href="{{ path('author_delete', {'id': author.id}) }}" class="btn btn-block btn-danger mb-4 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.delete'|trans }}</a>
    {% endif %}
{% endblock %}