{% extends 'base.html.twig' %}

{% block title %}{{ 'my.rentals'|trans }} {% endblock %}

{% block body %}
    <h1 class="mt-5 mb-4">{{ 'my.rentals'|trans }}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'all.id'|trans }}</th>
            <th>{{ 'label.title'|trans }}</th>
            <th>{{ 'rental.email'|trans }}</th>
            <th>{{ 'rental.comment'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for val in rental %}
            <tr>
                <td>{{ val.id }}</td>
                <td>{{ val.book.title }}</td>
                <td>{{ val.email }}</td>
                <td>{{ val.comment }}</td>
            </tr>
        {% else %}
            <tr>
                <td> {{ 'message.record_not_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}