{% extends 'base.html.twig' %}

{% block title %}Rental{% endblock %}

{% block body %}
    <h1>Rental</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'all.id'|trans }}</th>
            <td>{{ rental.id }}</td>
        </tr>
        <tr>
            <th>{{ 'rental.user'|trans }}</th>
            <td>{{ rental.user.id }}
            </td>
        </tr>
        <tr>
            <th>{{ 'rental.book'|trans }}</th>
            <td>{{ rental.book.id }}
            </td>
        </tr>
        <tr>
            <th>{{ 'rental.email'|trans }}</th>
            <td>{{ rental.email }}</td>
        </tr>
        <tr>
            <th>{{ 'rental.comment'|trans }}</th>
            <td>{{ rental.comment }}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('rental_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> back to list</a>

    {% if is_granted('ROLE_ADMIN') %}

        {{ include('rental/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}