{% extends 'base.html.twig' %}

{% block title %}{{ 'rental.name'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'rental.name'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'all.id'|trans }}</th>
            <td>{{ rental.id }}</td>
        </tr>
        <tr>
            <th>{{ 'rental.user'|trans }}</th>
            <td>{{ rental.user.id }}
            </td>
        </tr>
        <tr>
            <th>{{ 'rental.book'|trans }}</th>
            <td>{{ rental.book.id }}
            </td>
        </tr>
        <tr>
            <th>{{ 'rental.email'|trans }}</th>
            <td>{{ rental.email }}</td>
        </tr>
        <tr>
            <th>{{ 'rental.comment'|trans }}</th>
            <td>{{ rental.comment }}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('rental_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}</a>

    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ path('rental_delete', {'id': rental.id}) }}" class="btn btn-block btn-danger mb-4 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.delete'|trans }}</a>
    {% endif %}
{% endblock %}