{% extends 'base.html.twig' %}

{% block title %}{{ 'title.edit_category'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2 login p-4 mt-4 mb-4">
            <h1 class="mt-3 mb-4">{{ 'title.edit_category'|trans }}</h1>

            {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('category_index') }}" class="btn btn-primary mt-1 mb-1 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}</a>


            <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-block btn-danger mb-4 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.delete'|trans }}</a>
        </div>
    </div>

{% endblock %}