{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Genre index</h1>
    {#% if app.user and 'ROLE_ADMIN' in app.user.roles %#}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_new') }}" class="btn btn-primary mt-3 mb-3 btn-sm"><i class="fas fa-plus-circle"></i> Create new</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for val in category %}
            <tr>
                <td>{{ val.id }}</td>
                <td>{{ val.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': val.id}) }}" class="btn btn-dark text-light btn-sm"><i class="fas fa-eye">show</i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('category_edit', {'id': val.id}) }}" class="btn btn-secondary btn-sm"><i class="fas fa-edit">edit</i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td> colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}