{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-4">Category</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'all.id'|trans }}</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>{{ 'all.name'|trans }}</th>
            <td>{{ category.name }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-secondary mt-3 mb-3 btn-sm"><i class="fas fa-edit"></i> edit</a>

         {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}