{% extends 'base.html.twig' %}

{% block title %}{{ 'category.name'|trans }}{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-4">{{ 'category.name'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'all.id'|trans }}</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>{{ 'all.name'|trans }}</th>
            <td>{{ category.name }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-secondary mt-3 mb-3 btn-sm"><i class="fas fa-edit"></i> {{ 'action.edit'|trans }}</a>

        <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-block btn-danger mb-4 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.delete'|trans }}</a>
    {% endif %}
{% endblock %}