{% extends 'base.html.twig' %}

{% block title %}{{ 'book.edit'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2 login p-4 mt-5 mb-5">
            <h1 class="mt-3 mb-4">{{ 'book.edit'|trans }}</h1>

            {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('book_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"> <i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}</a>

            <a href="{{ path('book_delete', {'id': book.id}) }}" class="btn btn-block btn-danger mb-4 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.delete'|trans }}</a>
        </div>
    </div>


{% endblock %}