{% extends 'base.html.twig' %}

{% block title %}{{ 'title.book_list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.book_table'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('book_new') }}" class="btn btn-primary mt-3 mb-3 btn-sm"> <i class="fas fa-plus-circle"></i> Create new</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'all.id'|trans }}</th>
            <th>{{ 'label.isbn'|trans }}</th>
            <th>{{ 'label.title'|trans }}</th>
            <th>{{ 'label.pages'|trans }}</th>
            <th>{{ 'label.date'|trans }}</th>
            <th>{{ 'label.rating'|trans }}</th>
             <th>{{ 'label.description'|trans }}</th>
            <th>{{ 'all.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for val in book %}
            <tr>
                <td>{{ val.id }}</td>
                <td>{{ val.isbn }}</td>
                <td>{{ val.title }}</td>
                <td>{{ val.pageNumber }}</td>
                <td>{{ val.releaseDate ? val.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ val.rating }}</td>

                 <td>{{ val.description }}</td>

                <td>
                    <a href="{{ path('book_show', {'id': val.id}) }}" class="btn btn-dark text-light btn-sm"> <i class="fas fa-eye">show</i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('book_edit', {'id': val.id}) }} " class="btn btn-secondary btn-sm"><i class="fas fa-edit">edit</i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                {{ 'message.record_not_found'|trans }}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}