{% extends 'base.html.twig' %}

{% block title %}{{ 'book.new'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2 mt-5 mb-5 p-4 login">
            <h1 class="mb-3">{{ 'create.new.book'|trans }}</h1>

            {{ include('book/_form.html.twig') }}

            <a href="{{ path('book_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm">
                <i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}
            </a>
        </div>
    </div>

{% endblock %}