{% extends 'base.html.twig' %}

{% block title %}{{ 'book.name'|trans }}{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-5">{{ book.title }}</h1>



    <div class="row">
        <div class="col-md-5">
            <img src="..."
                 srcset="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg ,
                                        https://via.placeholder.com/150/150"
                 class="" alt="cover"

            >
        </div>
        <div class="col-md-7">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'all.id'|trans }}</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.isbn'|trans }}</th>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.title'|trans }}</th>
                    <td>{{ book.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.pages'|trans }}</th>
                    <td>{{ book.pageNumber }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.date'|trans }}</th>
                    <td>{{ book.releaseDate ? book.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.rating'|trans }}</th>
                    <td>{{ book.rating }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.description'|trans }}</th>
                    <td>{{ book.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.authors'|trans }}</th>
                    <td>
                        {% for val in book.author %}
                            <a href="{{ path('author_show', {'id':val.id}) }}" class="badge bg-secondary">{{ val.name }}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'label.categories'|trans }}</th>
                    <td>
                        {% for val in book.category %}
                            <a href="{{ path('category_show', {'id':val.id}) }}" class="badge rounded-pill bg-info text-dark">{{ val.name }}</a>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('book_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"> <i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}</a>

    {#% if app.user and 'ROLE_ADMIN' in app.user.roles %#}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-secondary mt-3 mb-3 btn-sm"> <i class="fas fa-edit"></i> {{ 'action.edit'|trans }}</a>

        <a href="{{ path('book_delete', {'id': book.id}) }}" class="btn btn-block btn-danger mb-4 btn-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.delete'|trans }}</a>
    {% endif %}
{% endblock %}